

  <div class="panel panel-primary"id="prm3">

      <div class="panel-heading">
          <h3 class="panel-title text-center">RAJA RANI</h3>
      </div>

      <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
              <div class="skillLineDefault">
                  <div class="skill pull-left text-center">Shell Script</div>
                  <input id="demo3" type="text" value="" name="demo3">
              </div>
          </li>
                   </ul>

             </div>
